### Unsupervised Learning
- You don't need to supervise the model. Instead we need to allow the machine to work on its own.
    - Clustering Models: Used to identify similar groups in datasets.
    
#### K Means clustering model
- K Means takes a dataset with constant value K and returns K no of cluster.

#### How does K Means will work
- Step1: Select K no of clusters randomly(ie, K = 2 data points)
- Step2: Calculate the distance
- Step3: Calculate the new cluster
- Step4: Divide into groups
- Step5: Repeat the same process

In [ ]:
#sno   X   Y
#-----------------
# 1   1     1 
# 2   1.5   2
# 3   3     4
# 4   5     7
# 5   3.5   5
# 6   4.5   5
# 7   3.5   4.5

- Step1: Select K (K = 2)
    - m1 = (1,1), m2 = (5, 7)
- Step2: Calculate the distance
    - Sqrt( (x2 - x2) ** 2 + (y2 - y1) ** 2 )

In [2]:
from math import sqrt

In [ ]:
## Distance between (1,1)   (1,1)  and (5,7)    (1,1)
#                   (x1,y1) (x2,y2)   (x1,y1)(x2,y2)

In [3]:
print(sqrt((1-1)**2 + (1-1)**2))
print(sqrt((5-1)**2 + (7-1)**2))

0.0
7.211102550927978

In [ ]:
## Distance between (1.5,2)   (1,1)  and (1.5,2) (5,7)   
#                   (x1,y1) (x2,y2)     (x1,y1)  (x2,y2)

In [4]:
print(sqrt((1-1.5)**2 + (1-2)**2))
print(sqrt((5-1)**2 + (7 -2)**2))

1.118033988749895
6.4031242374328485

In [ ]:
# Updated values of X and Y

#        Distance     Distance
#sno     of m1         of m2
#-----------------------------
#1        0       <     7.211
#2       1.11     <     6.40
#3       3.60     <=     3.60
#4       7.21     >       0
#5       4.71     >     2.5
#6       5.31     >     2.06
#7       4.30     >     2.91

- Step3: Calculate new cluster


- Cluster1
    - K1(X) = 1, 1.5, 3  and  K1(Y) = 1, 2, 4
    - Find mean
        - K1(X) = 1.8333 
        - K1(Y) = 2.3333
- Cluster2
    - K2(X) = 5, 3.5, 4.5, 3.5 and K2(Y) = 7, 5, 5, 4.5
    - find mean
        - K2(X) = 4.125
        - K2(Y) = 5.375

In [5]:
(1 + 1.5 + 3)/3, (1 + 2 + 4)/3

1.8333333333333333

In [8]:
(5 + 3.5 + 4.5 + 3.5)/4, (7 + 5 + 5+ 4.5)/4

(4.125, 5.375)

**Updated K vales are**
- m1 = (1.833,2.333), m2 = (4.125, 5.375)
- Step5: Reapet the same process, until either mean values will be same or no changes in cluster X and Y